.employee-dashboard {
  padding: 35px;
  background-color: #111c44;
  color: rgba(255, 255, 255, 0.95);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: -20px;
  overflow-y: auto;
}

.employee-dashboard h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-header h3 {
  font-size: 1.8rem;
  color: #ffffff;
}

.logout-btn {
  background-color: #e53935;
  color: white;
  padding: 0.65rem 1.3rem;  /* Slightly larger padding */
  font-size: 1.05rem;       /* Slightly larger text */
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}


.logout-btn:hover {
  background-color: #c62828;
}

/* === Project List === */
.project-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.project-list button{
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 10px;
}

.project-card {
  background-color: #232e4d;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.project-card select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #1b254b;
  color: #ffffff;
  font-size: 1rem;
}

/* === Summary Cards Below === */
.summary-cards {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.summary-card {
  background-color: #232e4d;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.summary-card.total {
  background-color: #2962ff;
}

.summary-card.not-started {
  background-color: #ff6d00;
}

.summary-card.in-progress {
  background-color: #ffca28;
  color: #000;
}

.summary-card.completed {
  background-color: #2e7d32;
}
